html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body, h1, h2, p, label, input, textarea, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form > * {
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

header {
    background-color: #004d40;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

a {
    color: #00796b;
    text-decoration: none;
}

main {
    padding: 2rem;
    margin: auto;
}

.main-register {
    max-width: 70%;
}

.main-login {
    max-width: 40%;
}

#registration h2{
    padding-bottom: 2rem;
}

#login,#registration {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login h2 {
    margin-top: 0;
}

#login label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#login input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form_register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}



label {
    display: block;
    font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
textarea,
select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

input:focus, select:focus {
    border-color: #00796b;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 121, 107, 0.5);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #fff;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

.button-container {
    text-align: center;
    width: 100%;
}

.spanner {
    grid-column: span 2;
}

.centerer {
    align-items: center;
}

.button-container button {
    display: inline-block; 
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.button-login {
    width: 100%;
}

footer {
    background-color: #004d40;
    color: #fff;
    text-align: center;
    position: fixed;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
input[type="file"] {
    display: none;
}

.footer-register{
    position: static;
}

.custom-file-upload {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #00796b;
    color: white;
    border-radius: 5px;
    font-size: 0.875rem;
    text-align: center;
    transition: background_color 0.3s ease;
    width: 50%;
}


.custom-file-upload:hover {
    background-color: #004d40;
}

.container {
    text-align: center;
  }

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

.small-button {
    opacity: 0;
    position: absolute;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #00796b;
    top: 50px;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.7s ease, background-color 0.3s ease;
  }

.login-group .small-button {
    right: -150px;
    top: 50%;
    transform: translateX(100%) translateY(-50%);
  }

  .register-group .small-button {
    left: -150px;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
  }

  .show {
    opacity: 1;
  }

  @media (max-width: 1000px) {
    .form_register {
        grid-template-columns: 1fr;
    }
    .main-register, .main-login {
        max-width: 80%;
    }
    .spanner {
        grid-column: span 1;
    }
}
